@font-face {
  font-family: "Jura";
  src: url("../font/jura/JuraBook-1.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/poppins/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
